body {
  font-family: Arial, Helvetica, sans-serif;
}

input[type="file"] {
  border: none;
  color: transparent;
  background: none;
  width: 170px;
  cursor: pointer;
  font-size: 22.5px;
  padding: 10px;
  border-radius: 5px;
}

input[type="file"]::before {
  content: "upload image";
  color: black;
  background: whitesmoke;
  border-radius: 7.5px;
  font-weight: 500;
  opacity: 50;
  padding: 7.5px 12px 7.5px 12px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  left: 20px;
}

input[type="file"]::-webkit-file-upload-button {
  position: relative;
  right: 8rem;
  bottom: 0.5rem;
  z-index: 1;
  display: none;
}


.settings {
  margin-left: 14rem;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.stats_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(169, 169, 169);
}

.stats_area {
  display: flex;
  flex-direction: column;
  height: 10rem;
}

.stats_form {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80%;
  margin-right: 2rem;
}

.stats_area:last-child {
  position: relative;
}

.info_align {
  display: flex;
  flex-direction: row;
  width: 30rem;
  align-items: center;
}

.stats_align {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 8rem;
  width: 30rem;
  align-items: center;
}


.username {
  margin-left: 8rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.profile_button {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 10px;
  transition: background-color 300ms ease-in-out;
}

.profile_button:hover {
  background-color: rgb(220, 220, 220);
}

.edit_icon {
  margin-left: 1rem;
}

.stats {
  margin-right: 2.5rem;
  font-weight: 200;
  font-size: 15px;
}

.count_stats {
  font-weight: bold;
}

.stats_info {
  margin-left: 0.5rem;
}

.picture {
  border-radius: 110%;
  overflow: hidden;
  object-fit: cover;
}


.followButton {
  background-color: whitesmoke;
  border: none;
  position: relative;
  left: 55%;
  bottom: 26%;
  padding: 8px;
  border-radius: 10px;
  margin-left: 1rem;
  width: 15%;
  transition: width 300ms ease-in-out, font-weight 300ms ease-in-out;
}

.followButton:hover {
  width: 20%;
  font-weight: 600;
}

.posts_of_user {
  margin-top: 1rem;
  border-bottom: 1px solid rgb(177, 177, 177);
  padding-bottom: 1rem;
  width: 80%;
}

.postCreated {
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 0.5rem;
}

.about_title {
  margin-top: 4rem;
}

.about_title > img {
  position: relative;
  top: 0.5rem;
}

.details_email {
  margin-top: 0;
  padding-top: 0;
  font-weight: bold;
}

.emailAdress, .birth_date {
  font-weight: normal;
  color: gray;
}

.group_svg {
  display: flex; flex-direction: row; align-items: center;
}

.group_svg > p {
  margin-left: 0.6rem;
  color: gray;
}

.details_section {
  margin-bottom: 2rem;
}

.details_biography, .details_birth {
  font-weight: 600;
  width: 50%;
}

.biography {
  color: rgb(82, 82, 82);
  font-weight: normal;
}

.details_email, .details_biography, .details_birth, .details_developer {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 8px;
  max-width: 23rem;
}

.details_developer {
  font-weight: 600;
}

.developer_path {
  font-weight: normal;
  color: gray;
}